{{!-- gets info for all activities page --}}

<div class="class-card box block is-medium">

  <div class="class-card-header">

    <p>{{activity.activity_name}}</p>
    <p>
    <div class="card-name"><b>Instructor:</b><br></div>
    <div class="card-dis">
      <p>
        {{activity.instructor.instructor_name}}
        (specialty: {{activity.instructor.specialty}})
      </p>
    </div>

    <div class="card-name"><b>Description:</b><br></div>
    <div class="card-dis"> {{activity.description}}
    </div>
    </p>
  </div>

</div>