<div class="class-card box block is-medium">
  <div class="class-card-header">
    {{class_name}}
  </div>
  <div class="class-card-body">
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>