<div class="class-card box block is-medium">
  <div class="class-card-header">
    {{activity_name}}
  </div>
  <div class="class-card-body">
    <p>
      Description:
      {{description}}
    </p>
     <p>
      Instructor:
      {{instructor_name}}
    </p>
  </div>
</div>

<div>

