{{!-- Out Classes page partial handlebar --}}
{{!-- gets info for all activities page --}}
<div class="class-card box block is-medium">
  <div class="class-card-header" id="activitiesCardDisplay">
    <div>
      <img src="../images/group1.jpg" alt="Instructors Image" id="instructorsImg">
    </div>

    <div id="ourClassDescriptionsCards">
      <div class="card-name">
        <b>Class:</b><br>
      </div>
      <div class="card-dis">
        <p>
          {{activity.activity_name}}
          {{!-- {{activity.instructor.instructor_name}}
          (specialty: {{activity.instructor.specialty}}) --}}
        </p>
      </div>
      <div class="card-name">
        <b>Class Description:</b><br>
      </div>
      <div class="card-dis"> 
        {{activity.description}}
      </div>
    </div>
  </div>
</div>