{{!-- gets info for our team page --}}

<div class="instructor-card">
  <div class="instructor-card-header">
    <header>{{instructor_name}}</header>
  </div>
  <div class="card-body">
    <p>
      Specialty:
      {{specialty}}
    </p>
  </div>
</div>