<div class="class-card box block is-medium">

  <div class="class-card-header">

    <p> {{activity_name}}</p>
    <p>
    <div class="card-name"><b>Instructor:</b><br></div>
    <div class="card-dis">{{instructor_name}}</div>
    </p>
    <p>
    <div class="card-name"><b>Description:</b><br></div>
    <div class="card-dis"> {{description}}
    </div>
    </p>
  </div>

</div>