<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title class="header">Hemlock Fitness Club</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/cxd3twe.css">
  <link rel="stylesheet" href="https://use.typekit.net/cxd3twe.css">
  <!-- Leaflet's map api -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>


</head>

<body>
  <nav class="navbar-brand box display-flex justify-space-between">
    <div class="navbar-brand">
      <div class="navbar-start">
        <a class="navbar-item">
          <figure class="image is-64x64">
            <img src="/images/Pinecone Logo04.png">
          </figure>
        </a>

      </div>


      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-brand navbar-end">
      <a class="navbar-item" href="/"> Home
      </a>

      <a class="navbar-item" href="/about-us">About Us
      </a>

      <a class="navbar-item" href="/instrList">Our Team
      </a>

      <a class="navbar-item" href="/activlist">Our Classes
      </a>

      <a class="navbar-item" href="/contact-us">Contact Us
      </a>


      <div class="navbar-end">

        <div class="navbar-item">
          <div class="buttons">
            {{#if logged_in}}
            <a href="#" class="button login" id="logoutBtn">
              <strong>Log Out </strong>
            </a>
            {{else}}
            <a href="/login" class="button login">
              <strong>Log In </strong>
            </a>
            {{/if}}

          </div>
        </div>
      </div>
    </div>

  </nav>

  {{{body}}}

  <footer class="content-box" role="contentinfo">
    <p>© 2022 HEMLOCK FITNESS. ALL RIGHTS RESERVED.</p>
    <p>*The “Free Class” offer is open only to first-time visitors and local residents aged 18 years and older; however,
      minors aged 14 and above may participate if special conditions are met. Valid at participating studios only.
      Conditions apply. See studios for details. Recommended retail price of a casual visit is $19.9; however, prices do
      vary, as each studio is individually owned and operated. Offer may be subject to satisfactory completion of
      pre-exercise screening and/or standard temporary/guest membership terms.</p>

  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>