<!DOCTYPE html>
<html lang="en"  >


<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title class="header">Hemplock Fitness Club</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="https://use.typekit.net/cxd3twe.css">
 <link rel="stylesheet" href="https://use.typekit.net/cxd3twe.css">



</head>

<body>
<nav class="navbar-brand box display-flex justify-space-between">
  <div class="navbar-brand">
    <div class="navbar-start">
      <a class="navbar-item">
          <figure class="image is-64x64">
            <img src="/images/Pinecone Logo04.png" >
          </figure>
      </a>

    </div>
    

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-brand navbar-end">
    <a class="navbar-item"> Home
    </a>

    <a class="navbar-item">Our Team
    </a>

    <a class="navbar-item">Our Classes
    </a>

    <a class="navbar-item">Appointment Request
    </a>


    <div class="navbar-end">

      <div class="navbar-item">
        <div class="buttons">
          <a class="button login">
            <strong>Log In </strong>
          </a>

        </div>
      </div>
    </div>
  </div>

</nav>
 
    {{{body}}}


<footer class="footer">
  <div class="content has-text-centered"> 

  <p> Copywrite Team2</p>
  <div class="contact-information">
        <p>99 Ave, Philadelphia, PA 19191</p>
        <p>Call us at: 1 115-309-9999</p>
        <p>Email us at: contactus@contactus.com</p>
        <i id="home-icon" class="fa fa-home"></i>

</div>
</footer>
</body>
{{!-- <script src="angular.js"></script> --}}

</html>
