<header>
    CONTACT US
</header>

<section class="container">
    <form class="customer-submit">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input id="name" class="input" type="text" placeholder="Enter Your Name">
            </div>
        </div>

        <div class="field">
            <label class="label">phone number</label>
            <div class="control">
                <input id="phonenumber" class="input" type="number" placeholder="Enter Your phone number">
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input id="email" class="input" type="email" placeholder="Enter Your Email">
            </div>
        </div>

        <div class="checkboxes">
            <h1>Availability</h1>
            <input type="checkbox" id="day1" name="day" value="monday">
            <label for="day1"> Monday</label><br>
            <input type="checkbox" id="day2" name="day" value="tuesday">
            <label for="day2"> Tuesday</label><br>
            <input type="checkbox" id="day3" name="day" value="wednesday">
            <label for="day3"> Wednesday </label><br>
            <input type="checkbox" id="day4" name="day" value="thursday">
            <label for="day4"> Thursday </label><br>
            <input type="checkbox" id="day5" name="day" value="friday">
            <label for="day5"> Friday </label><br>

            <h2>Intersted in</h2>
            <input type="checkbox" id="activity1" name="activity" value="yoga">
            <label for="item1"> yoga</label><br><br>
            <input type="checkbox" id="activity2" name="activity" value="dance">
            <label for="item2"> dance</label><br><br>
            <input type="checkbox" id="activity3" name="activity" value="biking">
            <label for="item3"> biking</label><br><br>

            <input type="submit" value="Submit">
        </div>

    </form>

    <div class="contact-information">
        <p>99 Ave, Philadelphia, PA 19191</p>
        <p>Call us at: 1 115-309-9999</p>
        <p>Email us at: contactus@contactus.com</p>
        <i id="home-icon" class="fa fa-home"></i>


        <div id="map">here is map</div>
    </div>

</section>

<script src="/js/contactUs.js"></script>