

<section>


    <figure class="image is-2by1">
      

      <img src="/images/gymMain.png" alt="workoutpicture">
      <div class="logo-center"> Hemlock Fitness Club </div>
      <figure class="image is-64x64">
        <img src="/images/Pinecone Logo03.png" width="100" height="175">
      </figure>
      


    </figure>

</section>


