

<section>


    <figure class="image is-2by1">
      

      <img src="/public/images/weights.png" alt="workoutpicture">
      <div class="logo-center"> Hemlock Fitness Club </div>


    </figure>

</section>


