

<section>

    <figure class="profile-picture is-2by1">  
      <img src="/images/gymMain.png" alt="workoutpicture">
      <div class="logo-center"> Hemlock Fitness Club </div>
      <figure class="logo is-64x64">
        <img src="/images/Pinecone_Logo04-new.png" width="120" height="140">
      </figure>
      
    </figure>

</section>



