{{!-- main body on front page --}
<section>
  <figure class="profile-picture is-2by1">
    <img src="/images/gymMain.png" alt="workoutpicture">
    <div class="logo-center"> Hemlock Fitness Club </div>
  </figure>
</section>