{{!-- lists all instructors - uses page3-instructors partial--}}
<div id="ourClassesDivWrapper">
    {{#each instructors}}
    {{> page3-instructors instructor_name=this.instructor_name specialty=this.specialty}}
    {{/each}}
</div>