<div class="instructor-card">
  <div class="instructor-card-header">
    {{instructor_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>