<header>
        OUR ADDRESS
</header>


<section class="container">
    <div id="map"></div>

    <div class="contact-us">
        <p class="contact-us-p">9999 Washington Avenue</p>
        <p class="contact-us-p">Suite #12345</p>
        <p class="contact-us-p">Philaelphia, PA 19146</p><br>

        <p class="contact-us-p">(123) 456-7890</p>
    </div>

</section>

<script src="/js/contactUs.js"></script>