    <header>
        ABOUT US
    </header>
    
    
    <div class="row">
        <div class="firstrow">
            <div>
                <h1>OPEN HOURS</h1>
                <p>
                    Sun
                    12:00 PM - 6:00 PM<br>
                    MON
                    6:00 AM - 8:00 PM<br>
                    Tue
                    6:00 AM - 8:00 PM<br>
                    Wed
                    6:00 AM - 8:00 PM<br>
                    Thu
                    6:00 AM - 8:00 PM<br>
                    Fri
                    CLOSED<br>
                    Sat
                    CLOSED
                </p>
            </div>
    
            <div>
                <h2>MEGA GYM. MINI PRICE.
                </h2>
                <p>
                    Feel exhausted from the workout, not the high-pressure sales people. Hemlock Fitness Memberships start
                    <strong>as low as $9.99/month</strong>.
    
                </p>
            </div>
    
        </div>
    
        <div class="secondrow">
            <h3>About HEMLOCK fitness</h3>
            <p>
                &nbsp Our gyms have been family owned and locally operated in the PA for over 99 years. We care deeply
                about our community and making sure everyone has affordable access to fitness. We provide our members with
                everything they need to reach their fitness goals in a gym facility without the added gimmicks and inflated
                prices the fitness industry is known for.<br><br>
                At HEMLOCK Fitness, you are more than just a member. You’re family. Your gym shouldn’t be intimidating, and
                our staff works every day to provide a clean, engaging environment for our members. Ultimately, we are all
                here doing the same thing - trying to become a better, healthier version of ourselves.
    
            </p>
        </div>
    
    </div>