<header class="contactus">
    CHALLENGE YOUR LIMITS
</header>

<div>
    <h1 style="letter-spacing:0.2em; text-align:center; color:white; font-size:15px;">#GETINTOUCH</h1>
    <h2 class="contactus-header" style="text-align:center; font-size:50px;color: rgb(7, 146, 104);">CONTACT US</h2>
</div><br>

<section class="container1">
    <div class="contact-us">
        <p> <b>our number :&nbsp</b>(555) 456-7890</p><br>
        <p><b>email address:&nbsp</b>hemlock@goodluck.com</p><br>
        <p><b>our address:&nbsp</b>9999 Washington Avenue</p>
        <p>Suite #12345</p>
        <p>Philaelphia, PA 19146</p><br>
    </div>
</section>

<div id="map"></div>

<script src="/js/contactUs.js"></script>