* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #252033;
    display: block;
    color: white;
    margin: 0 auto;
}

/*HEMLOCK LOGO setting with media query*/
.logo {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 11pt;
    left: 40pt;
}

.logo {
    flex: 0 0 50%;
}

@media (min-width: 700px) {
    .logo {
        flex: 0 0 33.33%;
    }
}

@media (min-width: 1100px) {
    .logo {
        flex: 0 0 25%;
    }
}

.logo-center {
    font-family: nasalization, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    color: rgb(201, 238, 247);
    position: absolute;
    bottom: 100px;
    left: 10px;
}

.header {
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.class-card {
    margin: 20px;
    flex: 0 1 300px;
    padding: 5px;
    width: 25%;
    border: 3px solid;
    border-style: solid;
    border-width: medium;
    background-color: rgb(170, 226, 238);
    color: black;
}

header {
    text-align: center;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: white;
}

p {
    font-family: nasalization, sans-serif;
    text-align: center;
    font-size: large;
    font-weight: 200;
}

h1,
h2 {
    font-size: 28px;
    color: rgb(7, 146, 104);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h3 {
    font-size: 28px;
    font-weight: 300;
    color: rgb(252, 252, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/*containor wrap*/
.row {
    display: flex;
    margin: 5% 15%;
}

.firstrow {
    background-color: #362f49;
    text-align: center;
}

.secondrow p {
    margin-left: 10%;
    font-size: larger;
    background-image: url(../images/meadow.jpg);;
}

/* Section are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {

    header .row {
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 300px;
        flex-direction: column;
    }
}


/*contact us header setting*/
header {
    text-align: center;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(7, 146, 104);
}

.container {
    display: flex;
    margin: 5% 30%;
    flex-wrap: wrap;
    padding: 0;
}


p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}

h1,
h2 {
    font-size: 28px;
    color: rgb(7, 146, 104);
}

.form {
    margin: 0%;
    padding: 0%;
}

/*map setting*/
#map {
    width: 500px;
    height: 400px;
    margin: 0 20px;
}

/*contact address and phone num,email*/
.contact-information {
    padding: 5% 10%;
    display: flex;
}

/*submit button*/
.submit {
    padding: 2%;
    background-color: rgb(7, 146, 104);
    color: white;
    border: white;
    border-radius: 5%;
    font-size: 20px;
}

/*add hover on button*/
.submit:hover {
    background-color: #10afb4;
    transition: 0.2s;
}

.content-box p {
    padding: 24px 0 10px;
    color: rgb(141, 136, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    box-sizing: border-box;
    text-align: left;
}

/* Section are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
    #map {
        width: 300px;
        height: 300px;
        text-align: center;
    }

    section.container,
    section#map-placeholder {
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 300px;
        flex-direction: column;
    }
}

