* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #252033;
    display: block;
    color: white;
    margin: 0 auto;
}

/*HEMLOCK LOGO setting with media query*/
.logo {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 11pt;
    left: 40pt;
}

.logo {
    flex: 0 0 50%;
}

@media (min-width: 700px) {
    .logo {
        flex: 0 0 33.33%;
    }
}

@media (min-width: 1100px) {
    .logo {
        flex: 0 0 25%;
    }
}

/*navbar setting with log in button*/
.navbar-item {
    font-family: nasalization, sans-serif;
    color: rgb(7, 146, 104);
    font-weight: 600;
    font-size: larger;
}

.login {
    background-color: rgb(7, 146, 104);
    color: aliceblue;
}

.profile-picture {
    margin: 0
}

/*footer styling*/
.content-box p {
    padding: 24px 0 10px;
    color: rgb(141, 136, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    box-sizing: border-box;
    text-align: left;
}

/*home page "hemlock fitness center" styling*/
.logo-center {
    font-family: nasalization, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    color: rgb(138, 230, 202);
    position: absolute;
    bottom: 300px;
    left: 80px;
}

.header {
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10%;
}

/*page 2 about-us page styling with media query*/
.row1 {
    display: flex;
    margin: 5% 15%;
    background-image: linear-gradient(rgba(250, 244, 244, 0.5),
            rgba(255, 255, 255, 0.5)), url(../images/blurred-background.jpg);
    background-size: cover;
}

.firstrow {
    background-color: #362f49;
    text-align: center;
}

.firstrow h1 {
    color: rgb(7, 146, 104);
    font-family: nasalization, sans-serif;
    font-size: x-large;
}

.firstrow h2 {
    color: rgb(7, 146, 104);
    font-family: nasalization, sans-serif;
    font-size: x-large;
}

.secondrow h3 {
    text-align: center;
}

.secondrow p {
    margin-left: 10%;
    font-size: larger;
    color: #252033;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 50px 40px;
    font-weight: 400;
}

.secondrow h3 {
    font-size: 50px;
    color: #252033;
    font-family: nasalization, sans-serif;
    margin: 50px 40px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    header .row {
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 300px;
        flex-direction: column;
    }
}

/*page 3 our team*/
.instructor-card {
    background-image: url(../images/group1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*page 4 our class styling*/
.class-card {
    margin: 20px;
    flex: 0 1 300px;
    padding: 5px;
    width: 20%;
    height: 200px;
    border: 3px solid;
    border-style: solid;
    border-width: medium;
    background-color: rgb(168, 91, 28);
    color: black;
    background-image: url(../images/group1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
}



/*page 5 contact us page setting*/
.contactus {
    text-align: center;
    margin: 5%;
    font-family: nasalization, sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: rgb(7, 146, 104);
    background-image: url(../images/gymMain.png);
    background-repeat: no-repeat;
}
.contactus-header {
    font-family: nasalization, sans-serif;
}
.contact-us {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;

}

/*map setting*/
#map {
    width: 1850px;
    height: 500px;
    margin: 0 20px;
}

@media screen and (max-width: 768px) {
    #map {
        width: 300px;
        height: 300px;
        text-align: center;
    }

    section.container1,
    section#map-placeholder {
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 300px;
        flex-direction: column;
    }
}

/*log in page setting*/
.level-item {
    display: flex;
    color: white;
    font-size: 20px;
    line-height: 110%;
    justify-content: space-around;
    background-image: url(../images/weights.jpg);
    background-repeat: no-repeat;
    font-family: nasalization, sans-serif;

}

/* log in btn setting*/
.btn-primary{
    display:inline-flex;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid rgb(7, 146, 104);
    color: rgb(7, 146, 104);
    background: 0 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 18px;
    height: 45px;
    font-family: nasalization, sans-serif;
    text-align: center;
}
.btn-primary:hover {
    background-color: #0b9b83;
    color: #fff;
}

/*after log in page styling*/
.interest-form {
    margin-left: 45%;
}

.col-md-6 h3 {
    color: #252033;
}

#updateactivityBtn {
    display: inline-table;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid rgb(7, 146, 104);
    color: rgb(7, 146, 104);
    background: 0 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 18px;
    height: 50px;
    font-family: nasalization, sans-serif;
    margin: 30px 850px;
}

/*after submit return page*/
.col-auto {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}